.newsHeader {
  background-color: whitesmoke;
  width: 440px;
  text-align: center;
}

.h1NewsFeed {
font-size: 3em;
font-family: Permanent marker;
padding: 25px;

}

.newsFeed {
  background-color: whitesmoke;
  width: 440px;
  padding: 10px;
  margin-top: 40px;
  text-align: justify;
}
.newsTitle {
color: red;
font-weight: bold;
}

.newsDate {
font-style: oblique;

}
.newsFeed li {
  list-style-type: none;
}
.newsCard {
  background: antiquewhite;
  margin-bottom: 30px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 black;
  transition: 0.3s;
  border-radius: 5px 5px;
  font-family: K2D;
}
