* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  text-align: center;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}

.sections {
  background: white;
  display: inline-flex;
  width: 100%;

}

.section_left {
  width: 100%;
  background: white;

}

.section_left img {
  position: fixed;
  width: 200px;
}

.section_center {
  width: 460px;
  z-index: 10;
  box-shadow: 0px 0px 10px 10px lightgrey;
}

.section_right {
  width: 100%;
  background: white;
  text-align: left;

}

.section_right img {
  position: fixed;
  width: 200px;
}

.nav {
  position: fixed;
  z-index: 20;
  width: 460px;
  background-color: black;
  color: white;
}

.nav_list li {
  display: inline-block;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: bolder;
  margin: 10px;

}

.nav_list a {
  color: white;
  text-decoration: none;
  height: 20px;
  padding: 10px;
}

.nav_list a:hover {
  background: white;
  color: red;
}

.newsHeader {
  background-color: whitesmoke;
  width: 440px;
  text-align: center;
}

.h1NewsFeed {
font-size: 3em;
font-family: Permanent marker;
padding: 25px;

}

.newsFeed {
  background-color: whitesmoke;
  width: 440px;
  padding: 10px;
  margin-top: 40px;
  text-align: justify;
}
.newsTitle {
color: red;
font-weight: bold;
}

.newsDate {
font-style: oblique;

}
.newsFeed li {
  list-style-type: none;
}
.newsCard {
  background: antiquewhite;
  margin-bottom: 30px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 black;
  transition: 0.3s;
  border-radius: 5px 5px;
  font-family: K2D;
}


.personal_header {
  text-align: left;
  font-size: 2em;
}

.images_list {
  width: 100px;
  margin-right: 10px;
}

.personal_list {
  color: gray;
  text-align: left;
  list-style-type: none;
}

.footer {
  background: red;
  width: 100%;
}
.social-media_links li {
  display: inline-block;
  list-style-type: none;
  font-size: 1em;
  margin: 10px;
}

.social-media_links li a {
  display: inline-block;
  list-style-type: none;
  font-size: .8em;
  font-weight: bolder;
  margin: 10px;
  color: white;
}

.social-media_links li a:hover {
  background: white;
  color: red;
}