.personal p {
    margin-bottom: 10px;
}
.personal_header {
    /* border: 1px solid pink; */
    text-align: left;
    font-size: 2em;
    margin-top: 20px;
}

.personal-details-bold-red {
    font-weight: bold;
    color: red;
}

.profileImage {
    width: 100%;
}

.personal_list {
    color: gray;
    text-align: left;
    /* border: 1px solid purple; */
    list-style-type: none;
}
